@using ForumProjectBL.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model ForumProjectBL.Entities.Question
@{
    ViewData["Title"] = "Home Page";
}
@*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="search">Search</label>
				<input type="text" class="form-control" id="search" name="search" placeholder="Search">
			</div>
		</div>
	</div>
}*@

<div class="box text-center" style="text-align: center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @if (SignInManager.IsSignedIn(User))
    {
		<br />
        <h1>
            This is a demo of a forum realised with ASP.NET, 
            this project is made by Melek Abbassi and Mootaz Soltani in 
            the frame of an academic project.
        </h1>
    }
    else
    {
        <h1>Sign in to read more about this project!</h1>
    }
</div>
